header div {
    display: flex;
    align-items: center;
    margin-left: 150px;
}

.divNav > input{
    border-radius: 15%;
    height: 35px;
    margin-left: 300px;
}
.content {
    display: flex;
    justify-content: space-around;
    margin: 30px 60px;
}
.content1 {
    width: 8%;
}
.content2 {
    width: 16%;
}
.content3 {
    width: 50%;
}
.infoFriends {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.imageDiv {
    width: 200px;
    height: 200px;
}